---
import Layout from "@layouts/Layout.astro";
import Card from "@components/cards/Post.astro";
import Separator from "@components/feeds/Separator.astro";
import Send from "@components/actions/Send.astro";

const { user } = Astro.locals;
if (!user) return Astro.redirect("/login");

import { alias, eq, Post, Vote } from "astro:db";
import { selectPosts } from "@lib/db";

const postId = parseInt(Astro.params.postId!);

const Upvote = alias(Vote, "upvote");
const Downvote = alias(Vote, "downvote");
const Voted = alias(Vote, "Voted");

const [post] = await selectPosts({ userId: Astro.locals.user?.id }).where(
  eq(Post.id, postId),
);
---

<Layout title={post.postTitle ?? "Post"}>
  <Card {...post} />
  <Separator />
  <form method="post" action={`/api/reply/${postId}`}>
    <textarea
      autofocus={true}
      rows={5}
      name="description"
      required="true"
      placeholder="Schreibe einen Kommentar"></textarea>
    <Send />
  </form>
</Layout>

<style lang="scss">
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>
