---
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<a href={url}>{url}</a>

<style>
  a {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
