:root {
  --background: white;
  --container: lightgrey;
  --text: black;
  --accent: slateblue;
  --max-width: 800px;
}

body {
  font: caption;

  background: var(--background);
  color: var(--text);
  margin: 0em;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

main {
  height: 100vh;
}

.width-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
}
.width-container {
  width: 100%;
  max-width: var(--max-width);
}

h1,
h2,
h3 {
  margin: unset;
}

a {
  text-decoration: unset;
  font-weight: bold;
}
