:root {
  --max-width: 600px;

  &[data-theme="dark"] {
    --background: #121212;
    --surface: var(--background);
    --text: #ffffff;
    --accent: #ce93d8;
    --error: #ef5350;
  }

  &[data-theme="light"] {
    --background: #ffffff;
    --surface: var(--background);
    --text: #000000;
    --accent: #6200ee;
    --error: #ef5350;
  }
}

body {
  font-family: "Poppins", caption, sans-serif;
  background: var(--background);
  color: var(--text);
  margin: 0em;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", caption, sans-serif;
  margin: unset;
}

a {
  text-decoration: unset;
  font-weight: bold;
  color: var(--accent);
}

button {
  background: none;
  border: none;
  color: var(--text);

  &:hover,
  &.active {
    color: var(--accent);
  }
}

input,
textarea,
select,
#password {
  background: none;
  border: none;
  border-bottom: solid 0.5px var(--text);
  color: inherit;

  &#password-input {
    border-bottom: none;
  }
}

progress {
  background: none;
  border: none;
  color: inherit;
}

input {
  &:invalid {
    text-decoration: red wavy underline;
  }
}

svg[data-icon] {
  vertical-align: middle;
}
