:root {
  --max-width: 600px;

  &[data-theme="dark"] {
    --background: #121212;
    --surface: var(--background);
    --text: #ffffff;
    --accent: #ce93d8;
    --error: #ef5350;
  }

  &[data-theme="light"] {
    --background: #ffffff;
    --surface: var(--background);
    --text: #000000;
    --accent: #6200ee;
    --error: #ef5350;
  }
}

body {
  font: caption;
  background: var(--background);
  color: var(--text);
  margin: 0em;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
}

main {
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: unset;
}

a {
  text-decoration: unset;
  font-weight: bold;
  color: var(--accent);
}

button {
  background: unset;
  border: unset;
  color: unset;

  &:hover,
  &.active {
    color: var(--accent);
  }
}

input,
progress {
  background: unset;
  border: solid var(--text) 1px;
  color: unset;
}

input {
  &:invalid {
    text-decoration: red wavy underline;
  }
}
