---
import { Icon } from "astro-icon/components";
---

<form>
  <slot />
  <button type="submit">
    <Icon name="material-symbols:send" title="Anwenden" /> Anwenden
  </button>
</form>

<style>
  form {
    margin: 0.5em 0;
    display: flex;
    gap: 0.5em;
  }
</style>
