---
interface Props {
  direction?: "column" | "row";
}

const { direction = "column" } = Astro.props;
---

<div
  class="stack"
  style={{
    flexDirection: direction,
  }}
>
  <slot />
</div>

<style lang="scss">
  .stack {
    display: flex;
    gap: 0.5em;
  }
</style>
