---
interface Props {
  active?: boolean;
}

const { active = false } = Astro.props;
---

<article class:list={["card", { active }]}>
  {
    Astro.slots.has("header") && (
      <header>
        <slot name="header" />
      </header>
    )
  }
  <div class="content">
    <slot />
  </div>
  <slot name="embed" />
  {
    Astro.slots.has("footer") && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
</article>

<style lang="scss">
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    background: var(--surface);

    .content {
      overflow: hidden;
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .card.active {
    .content {
      -webkit-line-clamp: none !important;
    }
  }
</style>
