---
import { Icon } from "astro-icon/components";
interface Props {
  id: number;
}
const { id } = Astro.props;
---

<a href={`/forums/${id}`}>
  <Icon name="mdi:forum" />
  <slot />
</a>

<style>
  a {
    position: relative;
    z-index: 1;
  }
</style>
