---
import { Icon } from "astro-icon/components";
interface Props {
  id: number;
}
const { id } = Astro.props;
---

<a class="forum-link" href={`/forums/view/${id}`}>
  <Icon name="material-symbols:forum" />
  <slot />
</a>
