---
interface Props {
  url: string | null;
  target?: string;
}

const { url, target } = Astro.props;
---

{
  url ? (
    <a href={url} target={target}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
