---
import { Icon } from "astro-icon/components";

type Props = {
  id: number;
};
const { id } = Astro.props;
---

<a href={`/posts/view/${id}`}>
  <Icon name="material-symbols:comment" />
  <slot />
</a>
