---
import { Icon } from "astro-icon/components";
interface Props {
  id: number;
}
const { id } = Astro.props;
---

<a class="user-link" rel="author" href={`/users/view/${id}`}>
  <Icon name="material-symbols:person" />
  <slot />
</a>
