---

---

<footer class="width-wrapper">
    <div class="width-container">&copy; 2024 Fooorum</div>
</footer>

<style>
    footer {
        position: sticky;
        bottom: -1.5em;
        text-align: center;
        padding: 0.5em;
        background: var(--container);
        transition: bottom 0.25s;
    }
    footer:hover {
        bottom: 0em;
    }
</style>
