---

---

<footer class="width-wrapper">
    <div class="width-container">&copy; 2024 Fooorum</div>
</footer>

<style>
    footer {
        position: sticky;
        bottom: 0em;
        text-align: center;
        padding: 0.5em;
        background: var(--container);
    }
</style>
