---
import NavLink from "./NavLink.astro";
---

<header class="width-wrapper">
    <div class="width-container">
        <nav>
            <NavLink href="/"><h1>Fooorum</h1></NavLink>
            <NavLink href="/posts">Beiträge</NavLink>
            <NavLink href="/forums">Foren</NavLink>
            <NavLink href="/users">Nutzer</NavLink>
        </nav>
    </div>
</header>

<style>
    header {
        box-sizing: border-box;
        width: 100%;

        display: flex;
        align-items: center;
        position: sticky;

        background: var(--container);
    }
    .width-container {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        padding: 0.5em;
    }
    h1 {
        margin: 0em;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 1em;
    }
</style>
