---
import NavLink from "./NavLink.astro";
---

<header>
    <nav>
        <NavLink href="/"><h1>Fooorum</h1></NavLink>
        <NavLink href="/posts">Beiträge</NavLink>
        <NavLink href="/forums">Foren</NavLink>
        <NavLink href="/users">Nutzer</NavLink>
    </nav>
</header>

<style>
    header {
        position: sticky;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5em;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
        background: var(--container);
    }
    h1 {
        margin: 0em;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 1em;
    }
</style>
