---
import NavLink from "./NavLink.astro";
---

<header class="width-wrapper">
    <div class="width-container">
        <nav>
            <NavLink href="/"><h1>Fooorum</h1></NavLink>
            <NavLink href="/posts">Beiträge</NavLink>
            <NavLink href="/forums">Foren</NavLink>
            <NavLink href="/users">Nutzer</NavLink>
        </nav>
        <slot />
    </div>
</header>

<style>
    header {
        box-sizing: border-box;
        width: 100%;

        display: flex;
        align-items: center;
        position: sticky;

        top: -2.25em;
        background: linear-gradient(to bottom, #387081, #284081);
        transition: top 0.25s;
    }
    header:hover {
        top: 0em;
    }
    .width-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        padding: 0.5em;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 1em;
    }
</style>
