---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/feeds/Stack.astro";
import { userNameValidator, passwordValidator } from "@lib/validate";
import { Icon } from "astro-icon/components";

const { user } = Astro.locals;
if (user) {
  return Astro.redirect("/logout");
}

const invalid = Astro.url.searchParams.has("invalid");
const leaked = Astro.url.searchParams.has("leaked");
const weak = Astro.url.searchParams.has("weak");
const username = Astro.url.searchParams.get("username");

const warnings: string[] = [];
if (invalid) {
  warnings.push("Passwort ist falsch");
}
if (leaked) {
  warnings.push("Passwort befindet sich in öffentlichen Datenbanken");
}
if (weak) {
  warnings.push("Passwort ist zu schwach");
}
---

<Layout title="Anmelden oder Registrieren">
  <form method="post" action="/api/login" autocomplete="on" data-astro-reload>
    <Stack>
      <label for="username">Nutzername</label>
      <input
        id="username"
        name="username"
        required
        value={username}
        {...userNameValidator.toJSON()}
      />
      <label for="password">Passwort</label>
      <input
        id="password"
        name="password"
        type="password"
        required
        {...passwordValidator.toJSON()}
      />
      <progress id="password-progress" max="4" value="1"></progress>
      <span id="warnings">
        {warnings.map((warning) => <span class="warning">{warning}</span>)}
      </span>
      <button><Icon name="mdi:login" /> Anmelden oder registrieren</button>
    </Stack>
  </form>
</Layout>

<script>
  import zxcvbn from "zxcvbn";

  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const passwordProgress = document.getElementById(
    "password-progress",
  ) as HTMLProgressElement;
  const warnings = document.getElementById("warnings") as HTMLSpanElement;

  passwordInput?.addEventListener("input", () => {
    const password = passwordInput.value;
    const passwordStrength = zxcvbn(password);
    passwordProgress.value = passwordStrength.score;
    warnings.innerHTML = "";

    for (const suggestion in passwordStrength.feedback.suggestions) {
      const warning = document.createElement("span");
      warning.className = "warning";
      warning.innerText = suggestion;
      warnings.append(warning);
    }

    if (passwordStrength.score < 3) {
      passwordInput.setCustomValidity(passwordStrength.feedback.warning);
    }
  });
</script>

<style lang="scss">
  #warnings {
    display: flex;
    gap: 0.5em;

    .warning {
      color: var(--accent);
    }
  }

  #password-progress {
    height: 0.5em;
  }

  #password-progress[value="1"] {
    &::-moz-progress-bar,
    &::-webkit-progress-value {
      background-color: red;
    }
  }
  #password-progress[value="2"] {
    &::-moz-progress-bar,
    &::-webkit-progress-value {
      background-color: orange;
    }
  }
  #password-progress[value="3"] {
    &::-moz-progress-bar,
    &::-webkit-progress-value {
      background-color: yellow;
    }
  }
  #password-progress[value="4"] {
    &::-moz-progress-bar,
    &::-webkit-progress-value {
      background-color: green;
    }
  }
</style>
