---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/feeds/Stack.astro";
import { userNameValidator, passwordValidator } from "@lib/validate";
import { Icon } from "astro-icon/components";

const { user } = Astro.locals;
if (user) {
  return Astro.redirect("/logout");
}

const invalid = Astro.url.searchParams.has("invalid");
const username = Astro.url.searchParams.get("username");
---

<Layout title="Anmelden oder Registrieren">
  <form method="post" action="/api/login" autocomplete="on" data-astro-reload>
    <Stack>
      {
        invalid && (
          <span class="warning">Nutzername oder Passwort ist falsch!</span>
        )
      }
      <label for="username">Nutzername</label>
      <input
        id="username"
        name="username"
        required
        value={username}
        {...userNameValidator.toJSON()}
      />
      <label for="password">Passwort</label>
      <input
        id="password"
        name="password"
        type="password"
        required
        {...passwordValidator.toJSON()}
      />
      <button><Icon name="mdi:login" /> Anmelden oder registrieren</button>
    </Stack>
  </form>
</Layout>

<style>
  .warning {
    color: var(--accent);
  }
</style>
