---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/Stack.astro";
import { userNameValidator, passwordValidator } from "@lib/validate";
---

<Layout title="Log in or Sign up">
    <form method="post" action="/api/login" autocomplete="on">
        <Stack>
            <label for="username">Username</label>
            <input
                id="username"
                name="username"
                required
                {...userNameValidator.toJSON()}
            />
            <label for="password">Password</label>
            <input
                id="password"
                name="password"
                type="password"
                required
                {...passwordValidator.toJSON()}
            />
            <button>Log in or sign up</button>
        </Stack>
    </form>
</Layout>

<style>
    input:invalid {
        border-color: red;
    }
</style>
