---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/feeds/Stack.astro";
import { Icon } from "astro-icon/components";

const { session } = Astro.locals;
if (!session) {
  return Astro.redirect("/login");
}
---

<Layout title="Abmelden">
  <form method="post" action="/api/logout" data-astro-reload>
    <Stack>
      <button><Icon name="mdi:logout" /> Abmelden</button>
    </Stack>
  </form>
</Layout>
