---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/Stack.astro";

const { session } = Astro.locals;
if (!session) {
    return Astro.redirect("/login");
}
---

<Layout title="Abmelden">
    <form method="post" action="/api/logout">
        <Stack>
            <button>Abmelden</button>
        </Stack>
    </form>
</Layout>
