---
import Layout from "@layouts/Layout.astro";
import Feed from "@components/Feed.astro";
import { db, eq, Forum } from "astro:db";

const { forumId } = Astro.params;
const forums = await db
    .select()
    .from(Forum)
    .where(eq(Forum.id, parseInt(forumId)));

const forum = forums.at(0);
---

<Layout title={forum.name}>
    <div slot="header" class="header">
        <h2>{forum.name}</h2>
        {forum.description}
    </div>

    <Feed forum={forum.id} />
</Layout>

<style>
    .header {
        display: flex;
        gap: 1em;
        align-items: center;
    }
</style>
