---
import Layout from "@layouts/Layout.astro";
import Feed from "@components/Feed.astro";
import { db, Forum } from "astro:db";

export async function getStaticPaths() {
    const forums = await db.select().from(Forum);
    return forums.map((forum) => ({
        params: { forum: forum.id },
        props: forum,
    }));
}

type Props = typeof Forum;
const forum = Astro.props;
---

<Layout title={forum.name}>
    <div slot="header" class="header">
        <h2>{forum.name}</h2>
        {forum.description}
    </div>

    <Feed forum={forum.id} />
</Layout>

<style>
    .header {
        display: flex;
        gap: 1em;
        align-items: center;
    }
</style>
