---
import Stack from "@components/Stack.astro";
import Card from "@components/Card/Post.astro";
import { db, eq, Post, User, Upvote, Downvote } from "astro:db";
import { countDistinct } from "astro:db";
interface Props {
    parent: number;
}
const { parent } = Astro.props;

const comments = await db
    .select({
        title: Post.title,
        description: Post.description,
        id: Post.id,
        upvotes: countDistinct(Upvote.user),
        downvotes: countDistinct(Downvote.user),
        userName: User.name,
        userId: User.id,
    })
    .from(Post)
    .where(eq(Post.parent, parent))
    .innerJoin(User, eq(User.id, Post.user))
    .leftJoin(Upvote, eq(Upvote.post, Post.id))
    .leftJoin(Downvote, eq(Downvote.post, Post.id))
    .groupBy(Post.id);
---

<Stack>
    {
        comments.map((comment) => (
            <>
                <Card {...comment} />
                <div class="children">
                    <Astro.self parent={comment.id} />
                </div>
            </>
        ))
    }
</Stack>

<style>
    .children {
        margin-left: 1em;
    }
</style>
