---
import Layout from "@layouts/Layout.astro";
import Stack from "@components/feeds/Stack.astro";
import { Icon } from "astro-icon/components";
import { inputProps } from "@lib/zod/forms/inputProps";
import { loginForm } from "@lib/zod/schemata";

const { user } = Astro.locals;
if (user) return Astro.redirect("/account");

const usernameInputProps = inputProps({
  name: "username",
  type: loginForm.shape.username,
});
const passwordInputProps = inputProps({
  name: "password",
  type: loginForm.shape.password,
});
---

<Layout title="Anmelden oder Registrieren">
  <form
    method="post"
    action="/api/account/login"
    autocomplete="on"
    data-astro-reload
  >
    <Stack>
      <label for="username-input">Nutzername</label>
      <input id="username-input" {...usernameInputProps} />
      <label for="password-input">Passwort</label>
      <input id="password-input" type="password" {...passwordInputProps} />
      <span id="issues"></span>
      <button>
        <Icon name="material-symbols:login" /> Anmelden oder registrieren
      </button>
    </Stack>
  </form>
</Layout>

<script>
  import { fromZodError } from "@lib/i18n/zod-validation-error";
  import { strongPassword, securePassword } from "@lib/zod/schemata/password";

  const passwordInput = document.getElementById(
    "password-input",
  ) as HTMLInputElement;
  const issuesWrapper = document.getElementById("issues") as HTMLSpanElement;

  let timeout: NodeJS.Timeout;
  passwordInput?.addEventListener("input", async () => {
    await checkPasswordSchema(strongPassword);

    clearTimeout(timeout);
    timeout = setTimeout(() => checkPasswordSchema(securePassword), 2000);
  });

  async function checkPasswordSchema(
    schema: typeof strongPassword | typeof securePassword,
  ) {
    const { success, error } = await schema.safeParseAsync(passwordInput.value);
    if (!success) {
      issuesWrapper.innerHTML = "";
      for (const issue of error.issues) {
        const element = document.createElement("span");
        element.innerText = issue.message;
        element.className = "issue";
        issuesWrapper.append(element);
      }
      passwordInput.setCustomValidity(fromZodError(error).toString());
    } else {
      issuesWrapper.innerHTML = "";
      passwordInput.setCustomValidity("");
    }
  }
</script>

<style lang="scss">
  #issues {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>

<style is:global lang="scss">
  .issue {
    color: var(--error);
  }
</style>
