---
import { db, count, eq, Downvote } from "astro:db";

interface Prop {
    amount: number;
    post: number;
    user: number;
}
const {amount, prefix, post, user} = Astro.props;
---

<form>
    <button type="submit">
        - {amount}
    </button>
</form>
