---
import Layout from "@layouts/Layout.astro";
import Card from "@components/cards/Post.astro";
import Separator from "@components/feeds/Separator.astro";
import { Icon } from "astro-icon/components";

const { user } = Astro.locals;
if (!user) return Astro.redirect("/login");

import { alias, eq, Post, Vote } from "astro:db";
import { selectPosts } from "@lib/db";

const postId = parseInt(Astro.params.postId!);

const Upvote = alias(Vote, "upvote");
const Downvote = alias(Vote, "downvote");
const Voted = alias(Vote, "Voted");

const [post] = await selectPosts({ userId: Astro.locals.user?.id }).where(
  eq(Post.id, postId),
);
if (user.id !== post.userId && !user.isAdmin)
  return new Response(null, { status: 403 });
---

<Layout title={post.postTitle ?? "Post"}>
  <Card {...post} />
  <Separator />
  <form method="post" action={`/api/delete/${postId}`}>
    <button type="submit">
      <Icon name="material-symbols:delete" /> Löschen
    </button>
  </form>
</Layout>

<style lang="scss">
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
</style>
