---
import { Icon } from "astro-icon/components";
import NavLink from "@layouts/NavLink.astro";
const { session } = Astro.locals;
---

<header>
  <nav>
    <NavLink href="/"><h1>Fooorum</h1></NavLink>
    <NavLink href="/posts">
      <Icon name="mdi:comment-text" title="Beiträge" />
    </NavLink>
    <NavLink href="/forums">
      <Icon name="mdi:forum" title="Foren" />
    </NavLink>
    <NavLink href="/users">
      <Icon name="mdi:user" title="Nutzer" />
    </NavLink>
    {
      session ? (
        <NavLink href="/logout">
          <Icon name="mdi:logout" title="Abmelden" />
        </NavLink>
      ) : (
        <NavLink href="/login">
          <Icon name="mdi:login" title="Anmelden" />
        </NavLink>
      )
    }
  </nav>
</header>

<style lang="scss">
  header {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;

    top: 0em;
    background: var(--surface);
    transition: top 0.25s;
    border-bottom: 1px solid var(--text);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
</style>
