---
import { Icon } from "astro-icon/components";
import NavLink from "@components/NavLink.astro";
const { session } = Astro.locals;
---

<header class="width-wrapper">
  <nav>
    <NavLink href="/"><h1>Fooorum</h1></NavLink>
    <NavLink href="/posts">
      <Icon name="mdi:comment-text" /> Beiträge
    </NavLink>
    <NavLink href="/forums">
      <Icon name="mdi:forum" /> Foren
    </NavLink>
    <NavLink href="users">
      <Icon name="mdi:user-group" /> Nutzer
    </NavLink>
    {
      session ? (
        <NavLink href="/logout">
          <Icon name="mdi:logout" /> Abmelden
        </NavLink>
      ) : (
        <NavLink href="/login">
          <Icon name="mdi:login" /> Anmelden
        </NavLink>
      )
    }
  </nav>
  <slot />
</header>

<style lang="scss">
  header {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    position: sticky;

    top: -0em;
    background: var(--background);
    transition: top 0.25s;
    border-bottom: 1px solid var(--text);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
</style>
