---
import "@styles/global.scss";
import "@fontsource/poppins";
import Footer from "@components/nav/Footer.astro";
import Head from "@components/nav/Head.astro";
import Header from "@components/nav/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const theme = Astro.cookies.get("theme")?.value ?? "dark";
---

<!doctype html>
<html data-theme={theme}>
  <Head title={title} description={description} />

  <body>
    <Header><slot name="header" /></Header>

    <main>
      <span id="top"></span>
      <slot />
    </main>

    <Footer />
  </body>
</html>
