---
interface Props {
  href: string;
}

const { href } = Astro.props;
const isActive = Astro.url.href.startsWith(new URL(href, Astro.url).href);
---

<a class={isActive ? "active" : ""} href={new URL(href, Astro.url)}>
  <slot />
</a>

<style lang="scss">
  a {
    color: unset;
  }
  a.active {
    color: var(--accent)
  }
</style>
