---
import { GITHUB_URL, SLIDES_URL } from "@consts";
---

<footer>
  <div class="links">
    <a href={GITHUB_URL} target="_blank">GitHub</a>
    <a href={SLIDES_URL} target="_blank">Slides</a>
  </div>
  <div>&copy; 2024 Fooorum</div>
  <div class="footer-nav">
    <a href="#top">Hoch</a>
    <a href="#bottom">Runter</a>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    bottom: -2em;
    transition: bottom 0.25s;
    z-index: 10;

    background: var(--surface);
    border-top: 1px solid var(--text);

    &:hover {
      bottom: 0em;
    }

    .links,
    .footer-nav {
      display: flex;
      gap: 1em;
    }
  }
</style>
