---
import Link from "@components/nav/Link.astro";
import Logo from "@components/nav/Logo.astro";
import Theme from "@components/actions/Themes.astro";
const { session } = Astro.locals;
---

<header>
  <nav>
    <Link href="/"><h1 slot="title"><Logo /></h1></Link>
    <Link href="/posts" icon="material-symbols:comment" title="Beiträge" />
    <Link href="/forums" icon="material-symbols:forum" title="Foren" />
    <Link href="/users" icon="material-symbols:person" title="Nutzer" />
    {
      session ? (
        <Link href="/logout" icon="material-symbols:logout" title="Abmelden" />
      ) : (
        <Link href="/login" icon="material-symbols:login" title="Anmelden" />
      )
    }
  </nav>
  <form data-astro-reload>
    <Theme />
  </form>
</header>

<style lang="scss">
  header {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;

    top: 0em;
    background: var(--surface);
    transition: top 0.25s;
    border-bottom: 1px solid var(--text);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
</style>
