---
import Link from "@components/nav/Link.astro";
const { session } = Astro.locals;
---

<header>
  <nav>
    <Link href="/"><h1 slot="title">Fooorum</h1></Link>
    <Link href="/posts" icon="mdi:comment-text" title="Beiträge" />
    <Link href="/forums" icon="mdi:forum" title="Foren" />
    <Link href="/users" icon="mdi:user" title="Nutzer" />
    {
      session ? (
        <Link href="/logout" icon="mdi:logout" title="Abmelden" />
      ) : (
        <Link href="/login" icon="mdi:login" title="Anmelden" />
      )
    }
  </nav>
</header>

<style lang="scss">
  header {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;

    top: 0em;
    background: var(--surface);
    transition: top 0.25s;
    border-bottom: 1px solid var(--text);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
</style>
