---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  icon?: string;
  title?: string;
}

const { href, icon, title } = Astro.props;
const isActive = Astro.url.href.startsWith(new URL(href, Astro.url).href);
---

<a class={isActive ? "active" : ""} href={new URL(href, Astro.url)}>
  <slot>
    <slot name="icon">{icon && <Icon name={icon} title={title} />}</slot>
    <slot name="title">{isActive && title}</slot>
  </slot>
</a>

<style lang="scss">
  a {
    color: unset;
  }

  a.active,
  a:hover {
    color: var(--accent);
  }
</style>
