---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  scope?: string | string[];
  icon?: string;
  title?: string;
}

const { href, icon, title, scope = [href] } = Astro.props;
const scopes = typeof scope === "string" ? [scope] : scope;
const isActive = scopes.some((scope) =>
  Astro.url.href.startsWith(new URL(scope, Astro.url).href),
);
---

<a class={isActive ? "active" : ""} href={new URL(href, Astro.url)}>
  <slot>
    <slot name="icon">{icon && <Icon name={icon} title={title} />}</slot>
    <slot name="title">{isActive && title}</slot>
  </slot>
</a>

<style lang="scss">
  a {
    color: unset;
  }

  a.active,
  a:hover {
    color: var(--accent);
  }
</style>
