---
interface Props {
  target: string;
  float?: boolean;
}
const { target, float } = Astro.props;
---

<button class:list={{ float }} formaction={target}>
  <slot />
</button>

<style lang="scss">
  .float {
    position: relative;
    z-index: 1;
  }
</style>
