---
import { Icon } from "astro-icon/components";
interface Props {
  postId: number;
  amount: number;
}
const { postId, amount } = Astro.props;
---

<button formaction={`/posts/${postId}`}>
  <Icon name="mdi:comment-text" />
  {amount}
</button>

<style lang="scss">
  button {
    position: relative;
    z-index: 1;
  }
</style>
