---
import { Icon } from "astro-icon/components";
interface Props {
  postId: number;
}
const { postId } = Astro.props;
---

<button formaction={`/delete/${postId}`}>
  <Icon name="material-symbols:delete" />
</button>

<style lang="scss">
  button {
    position: relative;
    z-index: 1;
  }
</style>
